/* @keyframes boxscale {
  0% {
    animation-delay: 0.1s;
  }
  25% {
    transform: none;
  }
  50% {
    transform: scaleY(1.1);
  }
  75% {
    animation-delay: 0.1s;
  }
  100% {
    animation-delay: 0.1s;
  }
}

#questionnaire {
  animation: boxscale 0.8s ease-in-out;
  animation-delay: 0.1s;
} */
