.form-body {
  background-color: bisque;
  overflow: hidden;
}

#questionnaire {
  background-image: url("../png/3.jpeg");
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  display: flex;
  width: 100vw;
  height: 30vh;
  flex-direction: column;
  justify-items: center;
  font-size: 20px;
  border-radius: 5px;
  overflow: auto;
  margin: 10px 10px;
}

#questionnaire::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#questionnaire-gender,
#questionnaire-age,
#questionnaire-shampoo,
#questionnaire-perm,
#questionnaire-dye,
#questionnaire-haircondition,
#questionnaire-usingitem,
#questionnaire-scalpitem,
#questionnaire-consider {
  margin-top: 10px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 5vh;
  width: 90%;
}
