#pic-out {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    }

#pic-in {
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    display: inline-block;
    background-image: url("../png/3.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
